.stamp_built
.stamp_configured
.stamp_patched
.stamp_target_installed
*.o
*.o.cmd
*.a.cmd
*.d
*.gcda
*.gcno

libvr.so
vr_test
aiengine.log
*~

tags
libutils.so

speech/doc/AISpeech/
aispeech/aispeech_authorization
